body, input, textarea, button {
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  color: white;
  border: none;
  outline: none;
}

body {
  width: 360px;
  height: var(--vh, 100vh);
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #091d36;
}

div {
  margin-bottom: 15px;
  padding: 7px 14px;
  display: flex;
  flex-direction: column;
  background-color: #363636;
}

div.min {
  height: 45px;
  overflow: hidden;
}

#donkey {
  height: 100%;
}

span {
  padding: 7px 0px;
  display: flex;
}

span.header {
  margin: 7px 0px;
  min-height: 60px;
}

img {
  min-width: 60px;
}

a {
  margin: auto 0px;
  font-size: 27px;
}

h6 {
  margin: 0px;
  font-size: 13px;
  font-weight: lighter;
}

h3 {
  margin: auto auto;
}

p {
  width: 25%;
  margin: 0;
}

p.right {
  text-align: right;
  max-height: 20px;
}

p.wide {
  width: 50%;
  text-align: center;
}

input {
  width: 40px;
  text-align: center;
  background-color: rgb(127, 127, 127);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
  
textarea{
  height: 100%;
  margin-bottom: 7px;
  margin-left: 20px;
  resize: none;
  overflow: hidden;
  background-color: transparent;
  line-height: 26px;
}

button {
  padding: 8px 16px;
  background-color: #091d36;  
  cursor: pointer;
}

button.on, button:hover {
  background-color: #70FEE8;
  font-weight: bolder;
  color: black;
}

#resize {
  padding: 0;
  background-color: transparent;  
  font-size: 28px;
  font-weight: bolder;
  line-height: 18px;
  color: white;
}

#eStop {
  position: relative;
  width: 5em;
  height: 5em;
  border: 2px solid #000;
  border-radius: 2.5em;
  background-image: radial-gradient(farthest-corner at 50% 20%, #b30000 0%, #330000 100%);
  box-shadow: 0 0.5em 1em rgba(102, 0, 0, 0.3);
}

#eStop:after {
  content: '';
  position: absolute;
  top: .3em;
  left: 0.9em;
  width: 60%;
  height: 40%;
  border-radius: 60%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
}

#eStop.on {
  background-image: radial-gradient(farthest-corner at 50% 75%, red 0%, #990000 100%);
  box-shadow: 0 1em 1.5em rgba(255, 0, 0, 0.5);
}